
/*-------Font File--------*/
@font-face {
  font-family: Gotham-black;
  src: url("../src/assets/Font/Gotham-Black.otf");
}
@font-face {
  font-family: Gotham-bold;
  src: url("../src/assets/Font/Gotham-Bold.otf");
}
@font-face {
  font-family: Gotham-medium;
  src: url("../src/assets/Font/GothamMedium.ttf");
}
@font-face {
  font-family: Gotham-book;
  src: url("../src/assets/Font/GothamBook.ttf");
}
@font-face {
  font-family: Gotham-thin;
  src: url("../src/assets/Font/Gotham-Thin.otf");
}
@font-face {
  font-family: Gotham-light;
  src: url("../src/assets/Font/Gotham-Light.otf");
}
@font-face {
  font-family: Gotham-xlight;
  src: url("../src/assets/Font/Gotham-XLight.otf");
}





*{
  margin: 0;
  padding: 0;
}
body{
  padding: 0 5%;
  box-sizing: border-box;
  background: #fff0f0;
  
}

#root{
  background: #fff;
box-shadow: 0 0 8px #ff0000;
height: 595vh auto;
display: flex;
flex-direction: column;
position: relative;
}


/*-------------Header Css----------*/

.head{
  background-color: #ff0000;
  padding: 10px 0;
}
.nav {
  display: flex;
  box-sizing: border-box;
}

.nav_icon {
  width: 20%;
  padding: 10px;
}

.nav_icon img {
  height: 70px;
  width: 100%;
}

.nav_list {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 2px;
  font-size: 28px;
  font-family: Gotham-black;
  font-weight: 700;
}
.nav_list a.active{
 background-color: #fff;
 color: #ff0000; 
}
.nav_list li :hover {
  color: #ff0000;
  background-color: #fff;
}

.nav_list a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 2px;
}

.nav_list li {
  list-style: none;
}

.nav_contact {
  width: 20%;
  display: flex;
font-family: Gotham-bold;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}

.nav_contact img {
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 100%;
}

.nav_contact .phno {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: #fff;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.search .book {
  width: 20%;
}

.search .book button {
  height: 50px;
  width: 100%;
  font-family: Gotham-black;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #ff0000;
  border-radius: 1px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  cursor: pointer;
}

.search .book button:hover {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #fff;
}

.search .search_test {
  width: 78%;
  font-family: Gotham-light;
}

.search .search_test input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid red;
  border-radius: 2px;
  outline: none;
  padding-left: 2rem;
  font-family: Gotham-book;
  font-size: 18px;
}

.search .search_test .search_btn {
  float: right;
  position: absolute;
  margin-top: 9px;
  margin-left: -60px;
  cursor: pointer;
  border: none;
  background: none;
}

.search .search_test .search_btn i {
  font-size: 2rem;
  color: red;
}


/*------------ Slider----------*/
.slide-container{
  width: 70%;
  height: 400px;
  box-sizing: border-box;
  margin: 10px;
}
.slide-container .each-slide .image{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
/*-------Reportfrom--------*/

.download_report {
  height: 400px;
  width: 370px;
  margin: 5px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 6px #ff0000; 
  padding: 10px;
  border-radius: 1px;
  font-family: Gotham-bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: absolute;
  right: 10px;
  top: 165px;
}

.download_report .header {
  font-size: 2em;
  display: block;
  margin: 3px auto;
  color: Crimson;
  font-family: Gotham-black;
}

.download_report hr {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: -12px;
  height: 1px;
  background: crimson;
  border: none;
}

.download_report span {
  color: crimson;
}

.download_report input[type="text"] {
  padding: 5px;
  margin: 2px;
  border: 1px solid crimson;
  border-radius: 1px;
  outline: none;
  color: #000;
  font-family: Gotham-book;
  height: 30px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 1px 4px #FFF0F0, 1px -1px 4px #FFF0F0, -1px 1px 4px #FFF0F0, -1px -1px 4px #FFF0F0;
}

.download_report select {
  padding: 5px;
  border: 1px solid crimson;
  border-radius: 1px;
  background: #fff;
  display: block;
  margin: 2px;
  outline: none;
  height: 50px;
  color: #000;
  font-family: Gotham-book;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px #FFF0F0, 1px -1px 4px #FFF0F0, -1px 1px 4px #FFF0F0, -1px -1px 4px #FFF0F0;
}

.download_report select option {
  font-family: Gotham-book;
  font-size: 1.1rem;
  color: #0019FF;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
}

.download_report .submit {
  justify-content: space-between;
  margin: 0 15px;
}

.download_report .submit button {
  width: 120px;
  height: 40px;
  padding: 5px 0;
  border-radius: 2px;
  margin: 2px;
  font-size: 20px;
  font-family: Gotham-black;
}

.download_report .submit .btn_submit {
  background: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
  text-transform: uppercase;
  padding: 4px;
  margin: 0 20px;
  letter-spacing: 1px;
}

.download_report .submit .btn_reset {
  background: #b8b1b1;
  color: #ff0000;
  border: 1px solid #f3d1d1;
  text-transform: uppercase;
  padding: 4px;
  margin: 0 20px;
  letter-spacing: 1px;
}
.download_report .submit .btn_reset:hover{
  color: #fff;
  background-color: #ff0000;
}
.download_report .submit .btn_submit:hover{
  color: #ff0000;
  background-color: #b8b1b1;
  border: 1px solid #b8b1b1;
}
/*--------------Lab Steps---------*/

.header_footer .footer_body {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #FFF0F0;
  padding:  5px 10px;
  color: #ff0000;
  font-family: Gotham-bold;
  margin:  2px 10px;
  box-shadow: 0 0 4px #ff0000; 
  font-size: 25px;
  justify-content: space-between;
  text-transform: uppercase;
}

.header_footer .footer_body button {
  border: none;
  background: none;
  cursor: pointer;
}

.footer_body .foot_1st_icon {
  margin: 5px;
  margin-right: 2rem;
}

.footer_body .foot_1st_icon i {
  font-size: 35px;
  color: #ff0000;
}

.footer_body .foot_last_icon {
  margin: 5px;
  margin-right: 10px;

}

.footer_body .foot_last_icon i {
  font-size: 40px;
  color: #ff0000;
}

.footer_body .foot_body {
  display: flex;
  margin: 10px 20px;
}


/*--------- Main Footer Body-------*/


footer{
  background: #282C35;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Gotham-bold;
  margin: 10px 0 0 0;
  text-transform: capitalize;
}
.x{
  display: flex;
  justify-content: space-around;
}
.divf2{
  height:190px;
  width:3px;
  background: #fff;
}
.divf1{
  font-family: Gotham-book;
  font-size: 20px;
}
.y{
  height:  3px;
  width:60%;
  display: block;
  margin: 10px auto;
  background: #fff;
}
.cpy{
  text-align: center;
  font-family: Gotham-bold;
}

/*-------Card Header-------*/
.test-header p{
  display: flex;
  justify-content: space-between;
  font-family: Gotham-black;
  margin: 10px 15px 5px 15px;
  font-size: 25px;
  color: #ff0000;
  text-transform: capitalize;
}
.test-header button{
  border: none;
  font-size: 15px;
  color: #ff0000;
  cursor: pointer;
  font-family: Gotham-bold;
  text-transform: capitalize;
  background: #fff;
}
.test-header button:hover{
background: #fff0f0;
}



/*------Organs Field--------*/

.organs_list{
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  margin: 10px 0 5px 10px;
  height: 170px;
  justify-content: space-evenly;
}
.organs{
  width: 125px;
  height: 150px;
  cursor: pointer;
  flex-direction: column;
}
.organs{
  background: #fff;
  color: blue;
  font-size: 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),-4px -4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Gotham-black;
  text-transform: uppercase;
}
.organs img{
  height: 100px;
  width: 100px;
  margin: 5px 5px 0 5px;
}
.organs span{
  margin: 0 2px 0 6px;
}


/*---------Categories Filed-------*/

 .categories_list{
  display: flex;
  flex-wrap: wrap;
  font-family: Gotham-black ;
  margin: 5px 25px;
}

.categories{
  height:130px;
  width: 243px;
}
.categories{
  background: white;
  color: orangered;
  font-size: 20px;
  margin: 10px;
  border-radius: 12px;
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.2),-4px -4px 8px rgba(0, 0, 0, 0.2);;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.categories img{
  height: 95px;
  width:95px;
}
.categories img{
  margin: 0 20px;
}

/*------Addvertisement section------*/

.advertisement{
  width: 100%;
  height: 200px;
  background: #fff0f0;
  padding: 10px;
  margin: 10px 0;
}
.advertisement .add-body{
width: 100%;
height: 100%;
border-radius: 4px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),-4px -4px 8px rgba(0, 0, 0, 0.2);;
}
.advertisement .add-body img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/*-----------Packeges section--------*/

.test-card-body{
  width: 100%;
  height: 400px;
  margin: 25px 0;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.test-card-body .test-card{
  width: 245px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #707070;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),-4px -4px 8px rgba(0, 0, 0, 0.2);;
}
.test-card-body .test-card .a, .c{
  text-align: center;
  margin: 15px 0;
  font-family: Gotham-black;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.test-card .a{
  color: #2659F2;
}
.test-card .b{
  margin: 0 18px;
  font-family: Gotham-bold;
  font-size: 22px;
}
.test-card .b .b-1{
  margin: 0 0 10px 0;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.b .b-1 .b-1-2{
  font-family: Gotham-medium ;
  font-size: 14px;
  color: #ff0000;
}
.b .b-data{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 6px;
}
.b .b-data .data-2{
  font-family: Gotham-book;
  font-size: 14px;
  color: #00B023;
}
.b .card-ammount{
  font-family: Gotham-black;
  color: #ff0000;
  font-size: 25px;
}
.test-card .c button{
  border: 1px solid #ff0000;
  background: #ff0000;
  color: #fff;
  font-size: 1.1rem;
  width: 160px;
  height: 36px;
  padding: 2px;
  text-transform: uppercase;
  border-radius: 10px;
}
.test-card .c button:hover{
  color: #ff0000;
  background: #fff;
}


/*------Women Organs Field--------*/

.worgans_list{
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  margin: 10px 0 5px 10px;
  height: 170px;
  flex-direction: row;
}
.worgans{
  width: 125px;
  height: 150px;
  cursor: pointer;
  flex-direction: column;
}
.worgans{
  background: #fff;
  color: orangered;
  font-size: 20px;
  margin: 10px 15px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),-4px -4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Gotham-black;
}
.worgans img{
  height: 80px;
  width:80px;
  margin: 5px 5px 0 5px;
}
.worgans span{
  margin: 0 2px 0 6px;
}

/*-------Other Page Sliders----------*/

.about-slide-container{
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 4px 5px;
  background: #fff0f0;
}

.about-slide-container .every-slide .about-image{
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/*----------About, Service, Contact Top------*/

.top-head{
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: Gotham-black;
  margin: 15px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-head .top-name{
  font-size: 50px;
  text-transform: uppercase;
  color: #ff0000;
}
.top-head .foot-name{
  color: #0019ff;
  font-size: 22px;
  margin-top: -22px;
  font-family: Gotham-medium;
  text-transform: uppercase;
  position: relative;
}
.top-head .foot-name::after{
  content: " ";
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #ff0000;
}

/*-------About, Service, Contact Top img--------*/

.about-img{
  width: 100%;
  height: 300px;
  padding: 5px 10px;
  margin: 10px 0;
}
.about-img img{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(145, 141, 141);
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}


/*------About, Service, Contact Still img--------*/

.still-img{
  width: 100%;
  height: 200px;
  padding: 8px 5px;
  margin: 10px 0;
  background: #fff0f0;

}
.still-img img{
  width: 100%;
  height: 100%;
  border-radius:4px;
  box-shadow: 0 0 4px #000;
}

/*----Contact Details----*/
.con-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  font-family: Gotham-black;
  text-transform: uppercase;
}
.con-details h1{
  color: #0019FF;
  margin-bottom: 50px ;
  text-decoration: underline;
}
.con-details h2{
  color: #45CA3C;
  font-family: Gotham-bold;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 5px;
}
.con-details p{
  font-family: Gotham-medium;
  
}

/*------------Contact Map------*/

.contact-map{
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: Gotham-black;
  text-transform: uppercase;
  font-size: 40px;
  color: #0019FF;
  margin: 5px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact-map .map-head{
  margin: 10px 0 10px 0;
}
.contact-map .map-image{
  height: 630px;
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.map-image img{
  height: 100%;
  width: 100%;

}


/*------About Description------*/

.about-decs{
  width: 100%;
  height: auto;
  margin: 10px 5px;
  padding: 10px 30px;
  text-align: justify;
}
.about-decs h2{
  color:blue;
  font-family: Gotham-black;
  text-transform: inherit;
  font-size: 25px;
}
.about-decs p{
  color:black;
  font-family: Gotham-book;
  font-size: 13px;
}
.about-decs ul{
  margin: 15px;
}
.about-decs h4{
  color: green;
  font-family: Gotham-bold;
  text-transform: lowercase;
  font-size: 18px;
}
.about-decs h1{
  color: red;
  font-family: Gotham-black;
  font-size: 30px;
}

/*-----About Founder Portion-------*/

.founder{
  display: flex;
  margin: 30px 10px 10px 10px;
  text-align: justify;
  width: 100%;
  height: 47vh;
}
.founder img{
  height: 350px;
  width: 400px;
  box-shadow: 0 0 10px #000;
}
.details{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.founder-name{
  font-size: 50px;
  margin-top: -15px;
  color: red;
  font-family: Gotham-black;
}
.founder .details p{
font-family: Gotham-book;
font-size: 16px;
}
.position{
  color: blue;
  margin-top: -20px;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: Gotham-bold;
  text-transform: capitalize;
}
.founder .details button{
  background:#0019FF;
width: 300px;
height: 58px;
font-family: Gotham-black;
color: #fff;
border: 1px solid #0019ff;
text-transform: capitalize;
font-size: 38px;
margin-top: 68px;
cursor: pointer;
}
.founder .details button:hover{
  border: 2px solid #0019FF;
  color: #0019FF;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0, 38, 255,0.5);
}


/*--------About Team------*/


.about-team h2{
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.about-team h2 span{
  margin-top: 40px;
  font-size: 40px;
  color: red;
  font-family: Gotham-black;
}
.about-team .members{
  display: flex;
  justify-content: space-between;
  margin-top: -210px;
}
.about-team .members img{
  height: 250px;
  width: 230px;
}
.member-details{
  display: flex;
  flex-direction: column;
}
.member-details .name{
  color: green;
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: Gotham-bold;
  margin-top: -15px;
}
.member-details .position{
  font-family: Gotham-medium;
  font-size: 15px;
}
.member-details{
  color: rgb(88, 10, 233);
  font-size: 12px;
  display: block;
  text-align: center;
}


/*---Service Page Stpes-------*/


.simple-steps{
  box-shadow: 0 0 5px red;
  margin-top: 10px;
  background-color: #fff0f0;
  padding: 10px;
  border-radius: 2px;
  margin: 10px 10px;
  text-align: justify;
  box-sizing: border-box;
}
.simple-steps h2{
  text-align: center;
  color: red;
  font-family: Gotham-black;
  font-size: 40px;
}
.hr{
  height: 280px;
  width: 6px;
  background: red;
  border-radius: 4px;
}
.steps i{
  font-size: 60px;
  color: #ff0000;
  width: 50px;
  height: 50px;
}
.steps .name{
  color: blue;
  margin-left: 50px;
  font-size: 25px;
  font-family: Gotham-bold;
  text-transform: capitalize;
}
.step-details .details{
  font-family: Gotham-medium;
  font-size: 12px;
  text-transform: uppercase;
}
.all-steps{
  display: flex;
}
.steps{
  display: flex;
  margin: 10px 10px 25px 40px;
}
.step-details{
  display: flex;
  flex-direction: column;
}



/*------Services Test Area-------*/

.services-text{
  margin: 20px;
}
.services-text h2{
  text-align: left;
  margin: 10px 0;
}
.services-text p{
  text-align: justify;
}
.services-text h4{
  color: rgba(18, 224, 18, 0.993);
  margin-top: 6px;
}